@{
    ViewBag.Title = "Welcome Home";
}

@section Navigation
{
  <div class="nav-collapse">
    <ul class="nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href='@Url.Action("About", "Home")'>About</a></li>
      <li><a href='@Url.Action("Index", "Messages")'>Messages</a></li>
    </ul>
  </div><!--/.nav-collapse -->
}

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>Welcome to church!</h1>
    <h2>London University Bible Fellowship</h2>
    <p><a class="btn btn-info" href='@Url.Action("Index", "Messages")'>Messages &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span4">
        <h2>Messages</h2>
        <p>We keep all our past messages by books. So, please come back to us and be inspired and challeged by the word of God!</p>
        <p><a class="btn btn-info" href='@Url.Action("Index", "Messages")'>Messages &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>About us</h2>
        <p>If you want to know who we are, what we do, when we meet up for service ...</p>
        <p><a class="btn btn-info" href='@Url.Action("About", "Home")'>About us &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Daily bread</h2>
        <p>Your word is a lamp to my feet and a light for my path. (Psalm 119:105)</p>
        <p><a class="btn btn-info" href='http://www.ubf.org/daily_bread_view.php' target="_blank">Daily bread &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="span4">
        <h2>Messages (.doc)</h2>
        <p>You can view the latest messages ordered by date, and you will need to log in to access these Word format messages.</p>
        <p><a class="btn btn-info" href="http://londonubf.homeip.net/file/recentmessage" target="_blank">Word Messages &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Network files</h2>
        <p>You can browse your network files. Of course, you will be asked to log in.</p>
        <p><a class="btn btn-info" href="http://londonubf.homeip.net/file/browse" target="_blank">View details &raquo;</a></p>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $('.hero-unit').css('background-image', 'url(/Content/images/sky.jpg)');
    });
</script>