@model LondonUbf.Models.MessageViewModel

@{
    ViewBag.Title = "Messages";
}

@section Navigation
{
    <div class="nav-collapse">
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href='@Url.Action("About", "Home")'>About</a></li>
            <li class="active"><a href='@Url.Action("Index", "Messages")'>Messages</a></li>
        </ul>
    </div>
}

<style>
    .hero-unit h1, .hero-unit p {
        color: Olive;
    }
</style>

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit" style="background-image:url(/Content/images/dove.jpg)">
  <h1>Messages</h1>
  <p>You can revisit all the message we have heard on the service.</p>
</div>

<table>
    <thead>
        <tr></tr>
    </thead>
</table>

<div class="row">
    <div class="span9">
      <table class="table table-striped">
        <thead>
          <tr>
              <th>Book</th>
              <th>Lecture</th>
              <th>Chapter</th>
              <th width="75%">Title</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var message in Model.Messages)
          {
            <tr>
                <td>@message.Book</td>
                <td>@message.LectureNo</td>
                <td>@message.Chapter</td>
                <td>@Html.ActionLink(message.Title, "Read", new { id = message.FileName })</td>
            </tr>
          }
        </tbody>
      </table>        
    </div>
</div>

