@model LondonUbf.Domain.ViewModels.MessageViewModel

@{
    ViewBag.Title = "Messages";
}

@section Navigation
{
    <div class="nav-collapse">
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href='@Url.Action("About", "Home")'>About</a></li>
            <li class="active"><a href='@Url.Action("Index", "Messages")'>Messages</a></li>
        </ul>
    </div>
}

<style>
    .hero-unit h1, .hero-unit p {
        color: Olive;
    }
</style>

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit" style="background-image:url(/Content/images/dove.jpg)">
  <h1>Messages</h1>
  <p>You can revisit all the message we have heard on the service.</p>
</div>

<div class="row">
    <div class="span3">
      <div style="float:left; padding: 5px">@Html.ActionLink("All", "Index", new { controller = "Messages", id = string.Empty }, new { Class = "btn btn-primary"})</div>
      @foreach (var book in Model.Books)
      {
        <div style="float:left; padding: 5px">@Html.ActionLink(book.Name, "Index", new { controller = "Messages", id = book.Name }, new { Class = "btn btn-info"})</div>
      }
    </div>
    <div class="span9">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
              <th>Book</th>
              <th>Lecture</th>
              <th>Chapter</th>
              <th width="75%">Title</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var message in Model.Messages)
          {
            <tr>
                <td>@message.Book</td>
                <td>@message.LectureNo</td>
                <td>@message.Chapter</td>
                <td>@Html.ActionLink(message.Title, "Read", new { id = Model.RenderUrlFrom(message.FileName) })</td>
            </tr>
          }
        </tbody>
      </table>        
    </div>
</div>

