@model LondonUbf.Domain.ServiceMessage

@{
    ViewBag.Title = string.Format("{0} {1} {2}", Model.Book, Model.LectureNo, Model.Title);
}

@section Navigation
{
    <div class="nav-collapse">
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href='@Url.Action("About", "Home")'>About</a></li>
            <li class="active"><a href='@Url.Action("Index", "Messages")'>Messages</a></li>
        </ul>
    </div>
}

<style>
    .hero-unit h1, .hero-unit p { color: Olive; }
</style>

<div class="hero-unit" style="background-image:url(/Content/images/dove.jpg)">
  <h1>Messages</h1>
  <p>You can revisit all the message we have heard on the service.</p>
</div>

<div class="row">
    <div class="span10">
        <p id="pBeginBtn">
            <a class="btn btn-primary btn-small" href="@Url.Action("Index")">Back to list</a>
            <a class="btn btn-warning btn-small" href="#" id="lnkPrint">Print</a>
        </p>
        <p>&nbsp;</p>
        <p>@Html.Raw(Model.ContentHtml)</p>
        <p>&nbsp;</p>
        <p id="pEndBtn"><a class="btn btn-primary btn-small" href="@Url.Action("Index")">Back to list</a></p>
    </div>
</div>

<script type="text/javascript">
  $(function () {
    $('#lnkPrint').click(function (e) {
      $('.hero-unit, #divNavbar, #pBeginBtn, #pEndBtn').hide();
      window.print();
      $('.hero-unit, #divNavbar, #pBeginBtn, #pEndBtn').show();  
    });
  });

</script>

